---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const cardsContent = {
  sedans: {
    title: "sedans",
    body: "Choose a sedan for its affordability and excellent fuel economy. Ideal for cruising in the city or on your next road trip.",
    icon: "images/icon-sedans.svg",
    color: { bg: "bg-c-orange", text: "text-c-orange", hover: "hover:bg-c-orange" },
  },
  suvs: {
    title: "suvs",
    body: "Take an SUV for its spacious interior, power, and versatility. Perfect for your next family vacation and off-road adventures.",
    icon: "images/icon-suvs.svg",
    color: { bg: "bg-c-darkCyan", text: "text-c-darkCyan", hover: "hover:bg-c-darkCyan" },
  },
  luxury: {
    title: "luxury",
    body: "Cruise in the best car brands without the bloated prices. Enjoy the enhanced comfort of a luxury rental and arrive in style.",
    icon: "images/icon-luxury.svg",
    color: { bg: "bg-c-veryDarkCyan", text: "text-c-veryDarkCyan", hover: "hover:bg-c-veryDarkCyan"  },
  },
};

const { sedans, suvs, luxury } = cardsContent;
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col 2xl:flex-row">
    <Card
      title={sedans.title}
      body={sedans.body}
      icon={sedans.icon}
      color={sedans.color}
    />
    <Card
      title={suvs.title}
      body={suvs.body}
      icon={suvs.icon}
	  color={suvs.color}
    />
    <Card
      title={luxury.title}
      body={luxury.body}
      icon={luxury.icon}
	  color={luxury.color}
    />
  </main>
</Layout>
