---
interface Props {
  title: string;
  body: string;
  icon: string;
  color: { bg: string; text: string, hover:string};
}

const { icon, title, body, color } = Astro.props;
---

<article
  class={`flex flex-col w-[360px] ${color.bg} p-14 first:rounded-t-lg 2xl:first:rounded-none 2xl:first:rounded-l-lg last:rounded-b-lg 2xl:last:rounded-none 2xl:last:rounded-r-lg gap-20 `}>
  <div class="flex flex-col gap-8 flex-grow">
    <div>
      <img src={icon} />
    </div>

    <h2 class="font-c-bigShoulders uppercase text-4xl text-white">{title}</h2>

    <p class="font-c-lexend text-c-transpWhite opacity-90 max-w-56">
      {body}
    </p>
  </div>

  <button class={`bg-white ${color.text} w-36 py-3 rounded-full font-c-lexend text-sm ${color.hover} hover:text-white hover:outline-1 hover:outline `}>Learn More</button>
</article>
